{% extends 'layout.html' %}

{% block content %}
<div class="d-flex justify-content-start">
    <!-- <a 
        type="button" 
        class="btn btn-outline-primary btn-sm me-5 pt-2" 
        style="width: 80px;"
        href="{{ url_for('hr.employee_list') }}"
    >Back</a> -->
    <h3>Change Password</h3>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <form id="changePasswordForm" method="post">
                <div class="mb-3">
                    <input type="hidden" class="form-control" id="user_id" name="user_id" value="{{ data['id'] }}">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" name="email" value="{{ data['email'] }}" disabled>
                </div>

                <div class="mb-3">
                    <label for="full_name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="full_name" name="full_name" value="{{ data['full_name'] }}" disabled>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="password_confirm" name="password_confirm">
                </div>

                <div class="text-danger">
                    {{ error or '' }}
                </div>
                <button type="submit" id="changePasswordButton" class="btn btn-primary form-control mt-3 mb-5">Change Password</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}


{% block scripts %}



{% endblock %}