{% extends 'layout.html' %}

{% block content %}
<h3>Employees</h3>

<div class="d-flex justify-content-between mb-1 mt-4">
    <div class="d-flex">
        <button type="button" class="btn btn-success btn-sm">Add new</button>
    </div>
    <div class="d-flex">
        <button type="button" class="btn btn-danger btn-sm">Delete</button>
        <button type="button" class="btn btn-secondary btn-sm ms-2">Export</button>
    </div>
</div>


<div id="employee_table" style="border: 1px solid gray;"></div>


<!-- offcanvas for files display -->
<div class="offcanvas offcanvas-start custom-offcanvas-responsive" data-bs-backdrop="static" tabindex="-1" id="offcanvasFiles" aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header">
    <h6 class="offcanvas-title" id="offcanvasFilesLabel">Document List</h6>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small">
    <div class="container my-4">

        <div id="document_table" style="border: 1px solid gray;"></div>

        <input type="text" id="employee_id">

        <h6 class="mt-5 mb-1">Upload Documents</h6>
        <form action="/api/upload-employee-document" class="dropzone" id="my-dropzone" enctype="multipart/form-data"></form>

        <div id="uploadAlertPlaceHolder"></div>

      </div>
  </div>
</div>


<!-- offcanvas for profile data edit -->
<div class="offcanvas offcanvas-start custom-offcanvas-responsive" data-bs-backdrop="static" tabindex="-1" id="offcanvasEdit" aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasEditLabel">Profile Edit</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small pt-0">
    <div class="container my-4">
        <!-- <h4>Profile Edit</h4> -->
        <form>
          <div class="mb-3">
            <input type="hidden" class="form-control" id="id" name="id">
          </div>
          <div class="mb-3">
            <label for="full_name" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="full_name" name="full_name">
          </div>
          <div class="mb-3">
            <label for="gender" class="form-label">Gender</label>
            <select type="text" class="form-select" id="gender" name="gender">
              <option value="Female">Female</option>
              <option value="Male">Male</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="position" class="form-label">Position</label>
            <input type="text" class="form-control" id="position" name="position">
          </div>
          <div class="mb-3">
            <label for="portfolio_assigned" class="form-label">Portfolio Assigned</label>
            <input type="text" class="form-control" id="portfolio_assigned" name="portfolio_assigned">
          </div>
          <div class="mb-3">
            <label for="manager_name" class="form-label">Manager Name</label>
            <input type="text" class="form-control" id="manager_name" name="manager_name">
          </div>
          <div class="mb-3">
            <label for="employee_type" class="form-label">Employee Type</label>
            <select type="text" class="form-select" id="employee_type" name="employee_type">
              <option value="Employee">Employee</option>
              <option value="Volunteer">Volunteer</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="mode_of_work" class="form-label">Mode of Work</label>
            <select type="text" class="form-select" id="mode_of_work" name="mode_of_work">
              <option value="Onsite">Onsite</option>
              <option value="Remote">Remote</option>
              <option value="Hybrid">Hybrid</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="date_of_birth" class="form-label">Date of Birth</label>
            <input type="date" class="form-control datepicker" id="date_of_birth" name="date_of_birth" lang="en-NZ">
          </div>
          <div class="mb-3">
            <label for="nationality" class="form-label">Nationality</label>
            <input type="text" class="form-control" id="nationality" name="nationality">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" name="maemailnager_name">
          </div>
          <div class="mb-3">
            <label for="contact_detail" class="form-label">Contact Detail</label>
            <input type="text" class="form-control" id="contact_detail" name="contact_detail">
          </div>
          <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" name="address">
          </div>
          <div class="mb-3">
            <label for="start_date" class="form-label">Start Date</label>
            <input type="date" class="form-control datepicker" id="start_date" name="start_date" lang="en-NZ">
          </div>
          <div class="mb-3">
            <label for="resignation_date" class="form-label">Resignation Date</label>
            <input type="date" class="form-control datepicker" id="resignation_date" name="resignation_date" lang="en-NZ">
          </div>
          <div class="mb-3">
            <label for="last_working_date" class="form-label">Last Working Date</label>
            <input type="text" class="form-control datepicker" id="last_working_date" name="last_working_date">
          </div>
          <div class="mb-3">
            <label for="trial_period_start_date" class="form-label">Trial Period Start Day</label>
            <input type="text" class="form-control datepicker" id="trial_period_start_date" name="trial_period_start_date">
          </div>
          <div class="mb-3">
            <label for="trial_period" class="form-label">Trial Period</label>
            <input type="number" class="form-control" id="trial_period" name="trial_period">
          </div>
          <div class="mb-3">
            <label for="hours_per_week" class="form-label">Hours per Week</label>
            <input type="number" class="form-control" id="hours_per_week" name="hours_per_week">
          </div>
          <div class="mb-3">
            <label for="volunteer_current_status" class="form-label">Volunteer Status</label>
            <input type="text" class="form-control" id="volunteer_current_status" name="volunteer_current_status">
          </div>
          <div class="mb-3">
            <label for="feedback_performance_review" class="form-label">Feedback & Performance Review</label>
            <textarea class="form-control h-100" rows="5" id="feedback_performance_review" name="feedback_performance_review"></textarea>
          </div>
          <label for="leave_reason" class="form-label">Leave Reason</label>
            <select type="text" class="form-select" id="leave_reason" name="leave_reason">
              <option value=0></option>
              <option value=1>Personal</option>
              <option value=2>Family</option>
              <option value=3>Relocation</option>
            </select>
          <div class="mb-3">
            <label for="comments" class="form-label">Comments</label>
            <input type="text" class="form-control" id="comments" name="comments">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
  </div>
</div>



{% endblock %}



{% block scripts %}

<script>

const fetchEmployeeDocuments = async (user_id) => {
  const url = "{{ url_for('api.get_employee_documents', _external=True) }}"
  console.log(url)

  const data = {
    user_id: user_id
  }
  
  fetch(url, {
    method: 'POST',
    headers: {
      'content-type': 'application/json'
    },
    body: JSON.stringify(data)
  })
  .then(response => {
    return response.json()
  })
  .then(json => {
    console.log(json)
  })
}
  





flatpickr(".datepicker", {
    dateFormat: "d/M/Y", // Set New Zealand date format
    allowInput: false // Allow manual input
});


// define some sample data
// let tabledata = [
//    {id:1, name:"Oli Bob", age:"12", col:"red", dob:""},
//    {id:2, name:"Mary May", age:"1", col:"blue", dob:"14/05/1982"},
//    {id:3, name:"Christine Lobowski", age:"42", col:"green", dob:"22/05/1982"},
//    {id:4, name:"Brendon Philips", age:"125", col:"orange", dob:"01/08/1980"},
//    {id:5, name:"Margret Marmajuke", age:"16", col:"yellow", dob:"31/01/1999"},
// ];

let populateEditForm = function(rowData) {
  document.getElementById('id').value = rowData.id
  document.getElementById('full_name').value = rowData.full_name
  document.getElementById('gender').value = rowData.gender
  document.getElementById('position').value = rowData.position
  document.getElementById('portfolio_assigned').value = rowData.portfolio_assigned
  document.getElementById('manager_name').value = rowData.manager_name
  document.getElementById('employee_type').value = rowData.employee_type
  document.getElementById('mode_of_work').value = rowData.mode_of_work
  flatpickr('#date_of_birth', {dateFormat: 'd/M/Y'}).setDate(new Date(rowData.date_of_birth))
  document.getElementById('nationality').value = rowData.nationality
  document.getElementById('email').value = rowData.email
  document.getElementById('contact_detail').value = rowData.contact_detail
  document.getElementById('address').value = rowData.address
  flatpickr('#start_date', {dateFormat: 'd/M/Y'}).setDate(new Date(rowData.start_date))
  flatpickr('#resignation_date', {dateFormat: 'd/M/Y'}).setDate(new Date(rowData.resignation_date))
  flatpickr('#last_working_date', {dateFormat: 'd/M/Y'}).setDate(new Date(rowData.last_working_date))
  document.getElementById('trial_period').value = rowData.trial_period
  flatpickr('#trial_period_start_date', {dateFormat: 'd/M/Y'}).setDate(new Date(rowData.trial_period_start_date))
  document.getElementById('hours_per_week').value = rowData.hours_per_week
  document.getElementById('volunteer_current_status').value = rowData.volunteer_current_status
  document.getElementById('feedback_performance_review').value = rowData.feedback_performance_review
  document.getElementById('leave_reason').value = rowData.leave_reason_id
  document.getElementById('comments').value = rowData.comments
}


let rowActions = function(cell, formatterParams, onRendered) {

    const row = cell.getRow();
    const actionsDiv = document.createElement("div");

    const editButton = document.createElement("button")
    editButton.type = "button"
    editButton.innerText = "Edit"
    editButton.className = "btn btn-info btn-sm ms-2"
    editButton.setAttribute("data-bs-toggle", "offcanvas")
    editButton.setAttribute("data-bs-target", "#offcanvasEdit")
    editButton.setAttribute("aria-controls", "offcanvasEdit")
    editButton.onclick = function() {
        console.log(row.getData())
        populateEditForm(row.getData())
    }
    actionsDiv.appendChild(editButton)

    const documentButton = document.createElement("button")
    documentButton.innerText = "Documents"
    documentButton.type = "button"
    documentButton.className = "btn btn-warning btn-sm ms-2"
    documentButton.setAttribute("data-bs-toggle", "offcanvas")
    documentButton.setAttribute("data-bs-target", "#offcanvasFiles")
    documentButton.setAttribute("aria-controls", "offcanvasFiles")

    documentButton.onclick = async function() {
      const employee_id = row.getData().id

      console.log(employee_id)

      // set employee id
      const employee_id_input = document.getElementById('employee_id')
      employee_id_input.value = employee_id

      console.log(employee_id)

      documents = await fetchEmployeeDocuments(employee_id)

      console.log(documents)
      /*
      console.log('Documents button clicked')
      console.log(row.getData().id)
      doc_data = [
                    {id: 1, file_name: "hello.pdf"}, 
                    {id: 2, file_name: "second.xlsx"}
                  ]
      documentTable.replaceData([])
      */
    }
    
    actionsDiv.appendChild(documentButton)

    return actionsDiv
}


let documentRowActions = function(cell, formatterParams, onRendered) {

  const row = cell.getRow();
  const actionsDiv = document.createElement("div");

  const downloadButton = document.createElement("button")
  downloadButton.type = "button"
  downloadButton.innerText = "Download"
  downloadButton.className = "btn btn-primary btn-sm ms-2"
  downloadButton.onclick = function() {
      console.log(row.getData())
  }
  actionsDiv.appendChild(downloadButton)

  const deleteButton = document.createElement("button")
  deleteButton.innerText = "Delete"
  deleteButton.type = "button"
  deleteButton.className = "btn btn-danger btn-sm ms-2"
//  deleteButton.onclick = function() {
      //console.log('Documents button clicked')
//  }
  actionsDiv.appendChild(deleteButton)

  return actionsDiv
}


let rowNumberFormatter = function(cell, formatterParams, onRendered) {
    return cell.getRow().getPosition();
}

const alertPlaceHolder = document.getElementById('uploadAlertPlaceHolder')
let appendAlert = (message, type) => {
  const wrapper = document.createElement('div')
  wrapper.innerHTML = [
    `<div class="alert alert-${type} alert-dismissible" role="alert">`,
    `   <div>${message}</div>`,
    '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
    '</div>'
  ].join('')

  document.getElementById('uploadAlertPlaceHolder').append(wrapper)
}



//create Tabulator on DOM element with id "example-table"
let table = new Tabulator("#employee_table", {
    minHeight: "650px", // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
    data:`{{ data | tojson }}`, //assign data to table
    layout:"fitColumns", //fit columns to width of table (optional)
    pagination: "local",
    paginationSize: 6,
    paginationSizeSelector: [3, 6, 8, 10],
    paginationCounter: "rows",
    rowHeader: {
        headerSort: false,
        resizable: false,
        width: 50,
        frozen: true,
        headerHozAlign: "center",
        hozAlign: "center",
        formatter: "rowSelection",
        titleFormatter: "rowSelection",
        cellClick: function(e, cell) {
            cell.getRow().toggleSelect()
        }
    },
    columns:[ //Define Table Columns
        {title:"No.", field:"rownum", width:80, formatter:rowNumberFormatter},
        {title:"InternalId", field:"id", width:100, visible: false},
        {title:"Full Name", field:"full_name", width:150},
        {title:"Gender", field:"gender", width:100},
        {title:"Position", field:"position", width:150},
        {title:"Portfolio Assigned", field:"portfolio_assigned", width:300},
        {title:"Manager Name", field:"manager_name", width:150},
        {title:"Employee Type", field:"employee_type", width:150},
        {title:"Mode of Work", field:"mode_of_work", width:150},
        {title:"Date of Birth", field:"date_of_birth", width:150, formatter:"datetime", formatterParams:{
          inputFormat:"yyyy-MM-dd",
          outputFormat:"dd/MMM/yyyy"
        }},
        {title:"Nationality", field:"nationality", width:150},
        {title:"Email", field:"email", width:200},
        {title:"Contact Detail", field:"contact_detail", width:200},
        {title:"Address", field:"address", width:250},
        {title:"Start Date", field:"start_date", width:150, formatter:"datetime", formatterParams:{
          inputFormat:"yyyy-MM-dd",
          outputFormat:"dd/MMM/yyyy"
        }},
        {title:"Resignation Date", field:"resignation_date", width:200, formatter:"datetime", formatterParams:{
          inputFormat:"yyyy-MM-dd",
          outputFormat:"dd/MMM/yyyy"
        }},
        {title:"Last Working Day", field:"last_working_date", width:200, formatter:"datetime", formatterParams:{
          inputFormat:"yyyy-MM-dd",
          outputFormat:"dd/MMM/yyyy"
        }},
        {title:"Trial Period Start Date", field:"trial_period_start_date", width:250, formatter:"datetime", formatterParams:{
          inputFormat:"yyyy-MM-dd",
          outputFormat:"dd/MMM/yyyy"
        }},
        {title:"Trial Period", field:"trial_period", width:150},
        {title:"Hours per Week", field:"hours_per_week", width:150},
        {title:"Volunteer Status", field:"volunteer_current_status", width:200},
        {title:"Feedback & Review", field:"feedback_performance_review", width:300},
        {title:"Leave Reason Id", field:"leave_reason_id", width:150, visible: false},
        {title:"Leave Reason", field:"leave_reason", width:200},
        {title:"Comments", field:"comments", width:300},
        {
            title: 'Actions',
            field: 'actions',
            formatter: rowActions,
            width: 165,
            hozAlign: 'center',
            frozen: true
        },
    ],
});

/*
let documentData = [
  {"id": 1, "file_name": "hello.pdf"},
  {"id": 2, "file_name": "test.xlsx"}
]
*/

let documentTable = new Tabulator("#document_table", {
  // minHeight: "100px",  // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
  data: [], //assign data to table
  layout:"fitColumns", //fit columns to width of table (optional)
  // headerVisible: true,
  columns:[ //Define Table Columns
      {title:"Documents", field:"file_name"},
      {
          title: 'Actions',
          field: 'actions',
          formatter: documentRowActions,
          width: 200,
          hozAlign: 'center',
      },
  ],
});

//trigger an alert message when the row is clicked


Dropzone.options.myDropzone = {
  paramName: "file",
  init: function() {
    this.on('success', function (file, response) {
      console.log(response.message)
    });

    this.on('error', function(file, response) {
      this.removeAllFiles(true)
      appendAlert(response.message, 'danger')
    })

    this.on('queuecomplete', function() {
      this.removeAllFiles(true)
      appendAlert('Documents uploaded successfully.', 'success');
      documentTable.replaceData([{file_name: '1.pdf'}, {file_name: '2.pdf'}, {file_name: '3.pdf'}])
    })

    this.on('sending', function(file, xhr, formData) {
      const employee_id = document.getElementById('employee_id').value

      formData.append('employee_id', employee_id)
    })
  }
}

</script>
{% endblock %}