{% extends 'layout.html' %}

{% block content %}
<div class="d-flex justify-content-start">
    <a 
        type="button" 
        class="btn btn-outline-primary btn-sm me-5 pt-2" 
        style="width: 80px;"
        href="{{ url_for('hr.employee_list') }}"
    >Back</a>
    <h3>Add Employee</h3>
</div>


<div class="container">
    <div class="row">
        <div class="col-6">
            <form id="createForm">
                <div class="mb-3">
                    <input type="hidden" class="form-control" id="id" name="id">
                </div>
                <div class="mb-3">
                    <label for="full_name" class="form-label">Full Name (*)</label>
                    <input type="text" class="form-control" id="full_name" name="full_name">
                </div>
                <div class="mb-3">
                    <label for="gender" class="form-label">Gender</label>
                    <select type="text" class="form-select" id="gender" name="gender">
                    <option value="Female">Female</option>
                    <option value="Male">Male</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="position" class="form-label">Position</label>
                    <input type="text" class="form-control" id="position" name="position">
                </div>
                <!-- <div class="mb-3">
                    <label for="portfolio_assigned" class="form-label">Portfolio Assigned</label>
                    <input type="text" class="form-control" id="portfolio_assigned" name="portfolio_assigned">
                </div> -->
                <div class="mb-3">
                    <label for="portfolio_assigned" class="form-label">Portfolio (*)</label>
                    <select class="form-select" id="portfolio_assigned" name="portfolio_assigned" multiple>
                      {% for p in portfolio_list %}
                        <option value="{{ p[0] }}">{{ p[1] }}</option>
                      {% endfor %}
                    </select>
                  </div>
                <div class="mb-3">
                    <label for="manager_name" class="form-label">Manager Name</label>
                    <input type="text" class="form-control" id="manager_name" name="manager_name">
                </div>
                <div class="mb-3">
                    <label for="employee_type" class="form-label">Employee Type</label>
                    <select type="text" class="form-select" id="employee_type" name="employee_type">
                    <option value="Employee">Employee</option>
                    <option value="Volunteer">Volunteer</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="mode_of_work" class="form-label">Mode of Work</label>
                    <select type="text" class="form-select" id="mode_of_work" name="mode_of_work">
                    <option value="Onsite">Onsite</option>
                    <option value="Remote">Remote</option>
                    <option value="Hybrid">Hybrid</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="date_of_birth" class="form-label">Date of Birth</label>
                    <input type="date" class="form-control datepicker" id="date_of_birth" name="date_of_birth" lang="en-NZ">
                </div>
                <div class="mb-3">
                    <label for="nationality" class="form-label">Nationality</label>
                    <input type="text" class="form-control" id="nationality" name="nationality">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" name="email">
                </div>
                <div class="mb-3">
                    <label for="contact_detail" class="form-label">Contact Detail (phone)</label>
                    <input type="text" class="form-control" id="contact_detail" name="contact_detail">
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="address" name="address">
                </div>
                <div class="mb-3">
                    <label for="start_date" class="form-label">Start Date</label>
                    <input type="date" class="form-control datepicker" id="start_date" name="start_date" lang="en-NZ">
                </div>
                <div class="mb-3">
                    <label for="resignation_date" class="form-label">Resignation Date</label>
                    <input type="date" class="form-control datepicker" id="resignation_date" name="resignation_date" lang="en-NZ">
                </div>
                <div class="mb-3">
                    <label for="last_working_date" class="form-label">Last Working Date</label>
                    <input type="text" class="form-control datepicker" id="last_working_date" name="last_working_date">
                </div>
                <div class="mb-3">
                    <label for="trial_period_start_date" class="form-label">Trial Period Start Day</label>
                    <input type="text" class="form-control datepicker" id="trial_period_start_date" name="trial_period_start_date">
                </div>
                <div class="mb-3">
                    <label for="trial_period" class="form-label">Trial Period</label>
                    <input type="text" class="form-control" id="trial_period" name="trial_period">
                </div>
                <div class="mb-3">
                    <label for="hours_per_week" class="form-label">Hours per Week</label>
                    <input type="text" class="form-control" id="hours_per_week" name="hours_per_week">
                </div>
                <div class="mb-3">
                    <label for="volunteer_current_status" class="form-label">Volunteer Status</label>
                    <input type="text" class="form-control" id="volunteer_current_status" name="volunteer_current_status">
                </div>
                <div class="mb-3">
                    <label for="feedback_performance_review" class="form-label">Feedback & Performance Review</label>
                    <textarea class="form-control h-100" rows="5" id="feedback_performance_review" name="feedback_performance_review"></textarea>
                </div>
                <!-- <div class="mb-3">
                    <label for="leave_reason_id" class="form-label">Leave Reason</label>
                    <select type="text" class="form-select" id="leave_reason_id" name="leave_reason_id">
                    <option value=0></option>
                    <option value=1>Personal</option>
                    <option value=2>Family</option>
                    <option value=3>Relocation</option>
                    </select>
                </div> -->
                <div class="mb-3">
                    <label for="leave_reason" class="form-label">Leave Reason</label>
                    <input type="text" class="form-control" id="leave_reason" name="leave_reason">
                </div>
                <!-- <input type="hidden" class="form-control" id="leave_reason" name="leave_reason"> -->
                <div class="mb-3">
                    <label for="comments" class="form-label">Comments</label>
                    <input type="text" class="form-control" id="comments" name="comments">
                </div>

                <div class="dropzone text-center" id="create-dropzone"></div>

                <div>
                    {% if(error) %}
                        {{error}}
                    {% endif %}
                </div>

                <button type="button" id="submitButton" class="btn btn-primary form-control mt-3 mb-5">Submit</button>
            </form>

            <input type="text" id="employee_id" class="d-none" disabled>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}
<script>

flatpickr(".datepicker", {
    dateFormat: "d/M/Y", // Set New Zealand date format
    allowInput: false, // Allow manual input
    onChange: function (selectedDates, dateStr, instance) {
        const isoDate = selectedDates[0].toISOString()
        if (selectedDates.length > 0) {
        instance.value = isoDate
        }
    }
});

Dropzone.autoDiscover = true;

Dropzone.options.createDropzone = {
    paramName: 'file',
    url: "{{ url_for('api.upload_employee_document') }}",
    autoProcessQueue: false,
    init: function() {
        this.on('success', function (file, response) {
        });

        this.on('error', function(file, response) {
            this.removeAllFiles(true)
            appendAlert(response.message, 'danger')
        })

        this.on('queuecomplete', async function() {
            this.removeAllFiles(true)

            // const employee_id = document.getElementById('employee_id').value
            // documents = await fetchEmployeeDocuments(employee_id)
            // documentTable.setData(documents)
            notifySuccess('Uploaded successfully')
            window.location.href = '/hr/employees'
        })

        this.on('sending', function(file, xhr, formData) {
            const employee_id = document.getElementById('employee_id').value
            formData.append('employee_id', employee_id)
        })
    }
}


document.getElementById("submitButton").addEventListener('click', async function() {
    // submit form date and return new employee id
    const form = document.getElementById('createForm')
    const formData = new FormData(form)

    const date_fields = ['start_date', 'trial_period_start_date', 'date_of_birth', 'resignation_date', 'last_working_date']
    const float_fields = ['hours_per_week', 'trial_period']

    const data = {}
    formData.forEach((value, key) => {
        if (key === 'id') {
            data['employee_id'] = value
        }
        else if (date_fields.includes(key)) {
            data[key] = (data[key] == '' | data[key] == undefined) ? null : nzDateToISODate(value)
        }
        else if (float_fields.includes(key)) {
            data[key] = (data[key] == '' | data[key] == undefined) ? null : data[key]
        } 
        else {
            data[key] = value
        }
    })

    if (!data.hasOwnProperty("portfolio_assigned")) {
        notifyError('No portfolio selected')
        return
    }

    data['portfolio_assigned'] = $('#portfolio_assigned').val()

    const response = await createEmployeeProfile(data)

    console.log(data)

    if (!response.ok) {
        error = await response.json()
        notifyError(error.message)
        return
    }

    const result = await response.json()
    const new_emp_id = result.employee_id

    // set employee id in the hidden input

    // if success call processQueue to upload, otherwise notify errors
    const instance = Dropzone.forElement('#create-dropzone')

    if (instance.getQueuedFiles().length > 0) {         // there are files to upload

        // set new employee id
        const employee_id_input = document.getElementById('employee_id')
        employee_id_input.value = new_emp_id

        instance.processQueue()
    }
    else {                                              // no files to upload
        // return to employee list page
        notifySuccess('Employee data created successfully')
        window.location.href = '/hr/employees'
    }

})


const createEmployeeProfile = async (data) => {
    const url = "{{ url_for('api.create_employee', _external=True) }}"

    const options = {
        method: 'POST',
        headers: {
        'content-type': 'application/json'
        },
        body: JSON.stringify(data)
    }

    result = await fetch(url, options)
    return result
}

$('#portfolio_assigned').select2({
    theme: 'bootstrap-5',
    closeOnSelect: false
})


</script>


{% endblock %}