{% extends 'layout.html' %}

{% block content %}
<h3>Portfolios</h3>

<div class="d-flex justify-content-between mb-1 mt-4">
    <div class="d-flex">
        <a type="button" href="{{ url_for('hr.employee_create') }}" class="btn btn-primary btn-sm" style="color: white;width: 150px;">Add new portfolio</a>
    </div>
    <div class="d-flex">
        <form accept="{{ url_for('hr.employee_list') }}" method="get">
          <button type="submite" class="btn btn-info btn-sm ms-2">Refresh</button>
        </form>
        <button type="button" class="btn btn-danger btn-sm ms-2" onclick="deletePortfolios()">Delete</button>
    </div>
</div>
<div id="portfolio_table" style="border: 1px solid gray;"></div>

<div class="d-flex justify-content-between mb-1 mt-4">
  <div class="d-flex">
      <a type="button" href="{{ url_for('hr.employee_create') }}" class="btn btn-primary btn-sm" style="color: white;width: 250px;">Add new portfolio group</a>
  </div>
  <div class="d-flex">
      <form accept="{{ url_for('hr.employee_list') }}" method="get">
        <button type="submite" class="btn btn-info btn-sm ms-2">Refresh</button>
      </form>
      <button type="button" class="btn btn-danger btn-sm ms-2" onclick="deleteEmployees()">Delete</button>
  </div>
</div>
<div id="portfolio_group_table" style="border: 1px solid gray;"></div>


<!-- offcanvas for profile data edit -->
<div class="offcanvas offcanvas-start custom-offcanvas-responsive" data-bs-backdrop="static" tabindex="-1" id="portfolioEdit" aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasEditLabel">Portfolio Edit</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small pt-0">
    <div class="container my-4">
        <!-- <h4>Profile Edit</h4> -->
        <form id="portfolioEditForm">
          <div class="mb-3">
            <input type="hidden" class="form-control" id="id" name="id">
          </div>
          <div class="mb-3">
            <label for="portfolio" class="form-label">Portfolio</label>
            <input type="text" class="form-control" id="portfolio" name="portfolio">
          </div>
          <button type="submit" class="btn btn-primary" id="portfolioEditButton">Change</button>
        </form>
      </div>
  </div>
</div>



{% endblock %}



{% block scripts %}

<script>

const updatePortfolio = async (data) => {
  const url = "{{ url_for('api.update_portfolio', _external=True) }}"

  console.log(data)

  const options = {
    method: 'POST',
    headers: {
      'content-type': 'application/json'
    },
    body: JSON.stringify(data)
  }

  result = await fetch(url, options)

  return result
}

document.getElementById('portfolioEditButton').addEventListener('click', async function(e) {
  e.preventDefault();

  const form = document.getElementById('portfolioEditForm')
  const formData = new FormData(form)

  data = {}
  formData.forEach((value, key) => {
    data[key] = value
  })

  const response = await updatePortfolio(data)
  const result = await response.json()

  if (!response.ok) {
    notifyError(result.message)
    return
  }
  else {
    window.location.href = '/hr/portfolios'
  }
})

const deletePortfolios = async function() {
  let selectedRows = portfolioTable.getSelectedRows()

  if (selectedRows.length == 0) {
    notifyWarning('No portfolio selected')
    return
  }

  if (!confirm('Are you sure to delete these portfolios?')) return

  let ids = []
  selectedRows.forEach(function(row) {
    ids.push(row.getData().id)
  })

  const url = "{{ url_for('api.remove_portfolio_list', _external=True) }}"
  const data = {
    ids: ids
  }

  const options = {
    method: 'POST',
    headers: {
      'content-type': 'application/json'
    },
    body: JSON.stringify(data)
  }

  response = await fetch(url, options)
  const result = await response.json()

  if (response.ok) {
    portfolioTable.deleteRow(ids)
    notifySuccess(result.message)
  }
  else {
    notifyError(result.message)
  }
}


const populatePortfolioEditForm = function(rowData) {
  document.getElementById('id').value = rowData.id
  document.getElementById('portfolio').value = rowData.portfolio
}


const rowActions = function(cell, formatterParams, onRendered) {
    // e.stopPropagation();

    const row = cell.getRow();
    const actionsDiv = document.createElement("div");

    const editButton = document.createElement("button")
    editButton.type = "button"
    editButton.innerText = "Edit"
    editButton.className = "btn btn-info btn-sm ms-2"
    editButton.setAttribute("data-bs-toggle", "offcanvas")
    editButton.setAttribute("data-bs-target", "#portfolioEdit")
    // editButton.setAttribute("aria-controls", "offcanvasEdit")
    editButton.onclick = function(e) {
        e.stopPropagation();
        populatePortfolioEditForm(row.getData())
    }
    actionsDiv.appendChild(editButton)

    return actionsDiv
}

const rowNumberFormatter = function(cell, formatterParams, onRendered) {
    const table = cell.getTable()
    const page = table.getPage()
    const pageSize = table.getPageSize()
    const rowIndexOnPage = cell.getRow().getPosition()
    return (page - 1) * pageSize + rowIndexOnPage
}


//create Tabulator on DOM element with id "example-table"
const portfolioGroupTable = new Tabulator("#portfolio_group_table", {
    //minHeight: "650px", // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
    data: `{{ group_list | safe }}`, //assign data to table
    layout:"fitColumns", //fit columns to width of table (optional)
    selectableRows: true,
    selectable: true,
    pagination: "local",
    paginationSize: 15,
    paginationSizeSelector: [10, 15, 20, 50, 100],
    paginationCounter: "rows",
    rowHeader: {
        headerSort: false,
        resizable: false,
        width: 50,
        frozen: true,
        headerHozAlign: "center",
        hozAlign: "center",
        formatter: "rowSelection",
        titleFormatter: "rowSelection",
        cellClick: function(e, cell) {
            cell.getRow().toggleSelect()
        }
    },
    columns:[ //Define Table Columns
        {title:"No.", field:"row_num", width:80, formatter:rowNumberFormatter},
        {title:"Internal Id", field:"id", width:80, visible: false},
        {title:"Group Name", field:"group_name"},
        
        {
            title: 'Actions',
            field: 'actions',
            formatter: rowActions,
            width: 165,
            hozAlign: 'center',
        },
    ],
});

const portfolioTable = new Tabulator("#portfolio_table", {
    maxHeight: "480px", // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
    data: `{{ portfolio_list | safe }}`, //assign data to table
    layout:"fitColumns", //fit columns to width of table (optional)
    selectableRows: true,
    selectable: true,
    pagination: "local",
    paginationSize: 15,
    paginationSizeSelector: [10, 15, 20, 50, 100],
    paginationCounter: "rows",
    rowHeader: {
        headerSort: false,
        resizable: false,
        width: 50,
        frozen: true,
        headerHozAlign: "center",
        hozAlign: "center",
        formatter: "rowSelection",
        titleFormatter: "rowSelection",
        cellClick: function(e, cell) {
            cell.getRow().toggleSelect()
        }
    },
    columns:[ //Define Table Columns
        {title:"No.", field:"row_num", width:80, formatter:rowNumberFormatter},
        {title:"Internal Id", field:"id", width:200, visible: false},
        {title:"Group", field:"group_name", width:350},
        {title:"Portfolio", field:"portfolio"},
        {
            title: 'Actions',
            field: 'actions',
            formatter: rowActions,
            width: 165,
            hozAlign: 'center'
        },
    ],
});

document.getElementById('portfolio_group_table').style.whiteSpace = 'pre-line';
document.getElementById('portfolio_table').style.whiteSpace = 'pre-line';

</script>
{% endblock %}